@model IEnumerable<STOCKW.Models.Dominio.TipoMovimentacao>

@{
    ViewData["Title"] = "Tipos de Movimentacoes";
}

<h1>Tipos de Movimentacoes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_TipoMovimentacao">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_TipoMovimentacao">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_TipoMovimentacao">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
